* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

strong {
    color: #22D4fD;
}

.apresentacao {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.apresentacao__titulo {
    margin-bottom: 20px;
}

.apresentacao__conteudo {
    width: 615px;
    height: 200px;
}

.alinhamento__paragrafo {
    text-align: justify;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__botoes {
    background-color: #22D4fD;
    color: black;
    margin-top: 20px;
    padding: 21.5px 0;
    font-size: 24px;
    font-weight:700;
    width: 280px;
    height: ;
    border-radius: 16px;
    text-align: center;
}